approvaltests>=5.4.0
attrs>=19.3
autopep8>=1.4.4
black>=22.6.0
bottle>=0.12.23
fastapi>=0.79.0
flake8>=5.0.4
flask>=2.2.2
kaleido>=0.0.3
matplotlib>=3.2.2
mongoengine>=0.24.2
numpy>=1.17.4
pandas>=0.25.3
pdoc>=12.0.2
plotly>=4.14.3
psutil>=5.8.0
pycodestyle>=2.5.0
pydantic>=1.9.1
pylint>=2.14.5
pymongo>=4.2.0
pyright>=1.1.265
pytest>=6.1.1
pytz>=2022.1
requests>=2.25.1
scipy>=1.9.0
sqlalchemy>=1.4.39
typing-inspect>=0.5.0
uvicorn>=0.18.2
